#details-container[data-dash-is-loading="true"],
#details-container-conf[data-dash-is-loading="true"]{
    visibility: hidden;
}
#details-container[data-dash-is-loading="true"]::before,
#details-container-conf[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: gray;
    visibility: visible;
}


#details-container[data-dash-is-loading="true"],
#datatable[data-dash-is-loading="true"]{
    visibility: hidden;
}
#details-container[data-dash-is-loading="true"]::before,
#datatable[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: gray;
    visibility: visible;
}